In [8]:
import pandas as pd
import yfinance as yf

In [ ]:
eth = yf.Ticker('ETH-USD')
eth_data = eth.history('10y')

In [17]:
int(10_000 / (2_290 / 90))

393

In [22]:
buy_interval = 90
price = eth_data['Close']
eth_data['buy_in'] = int(10_000 / (price.count() / buy_interval))

In [52]:
data = eth_data.iloc[::90].drop(['Open', 'Low', 'Volume', 'Dividends', 'Stock Splits', 'High'], axis=1)
data['eth_bought'] = data['buy_in'] / data['Close']
data

                                 Close  buy_in  eth_bought
Date
2017-11-09 00:00:00+00:00   320.884003     393    1.224742
2018-02-07 00:00:00+00:00   757.067993     393    0.519108
2018-05-08 00:00:00+00:00   752.856995     393    0.522011
2018-08-06 00:00:00+00:00   406.657990     393    0.966414
2018-11-04 00:00:00+00:00   207.485992     393    1.894104
2019-02-02 00:00:00+00:00   110.430260     393    3.558807
2019-05-03 00:00:00+00:00   167.952408     393    2.339949
2019-08-01 00:00:00+00:00   217.808441     393    1.804338
2019-10-30 00:00:00+00:00   184.692169     393    2.127865
2020-01-28 00:00:00+00:00   176.370316     393    2.228266
2020-04-27 00:00:00+00:00   197.224716     393    1.992651
2020-07-26 00:00:00+00:00   309.643616     393    1.269201
2020-10-24 00:00:00+00:00   412.457611     393    0.952825
2021-01-22 00:00:00+00:00  1236.512207     393    0.317829
2021-04-22 00:00:00+00:00  2403.535156     393    0.163509
2021-07-21 00:00:00+00:00  1990.970825     393    0.197391
2021-10-19 00:00:00+00:00  3877.650879     393    0.101350
2022-01-17 00:00:00+00:00  3212.304932     393    0.122342
2022-04-17 00:00:00+00:00  2993.403320     393    0.131289
2022-07-16 00:00:00+00:00  1352.626465     393    0.290546
2022-10-14 00:00:00+00:00  1297.422119     393    0.302908
2023-01-12 00:00:00+00:00  1417.938477     393    0.277163
2023-04-12 00:00:00+00:00  1920.682129     393    0.204615
2023-07-11 00:00:00+00:00  1878.336060     393    0.209228
2023-10-09 00:00:00+00:00  1579.806641     393    0.248765
2024-01-07 00:00:00+00:00  2222.865967     393    0.176799

In [60]:
total_eth_bought = data['eth_bought'].sum()
usd_value = total_eth_bought * eth_data['Close'].iloc[-1]

In [62]:
usd_value / 10_000 * 100

684.0222637876933