In [25]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
bp = yf.Ticker("BP.L")

In [27]:
# get historical market data
hist = bp.history(start="2020-01-01", end="2020-12-31")

In [28]:
# plot
hist.describe()

       Open  High  Low  Close      Volume  Dividends  Stock Splits
count   253   253  253    253         253        253           253
mean    263   269  258    263  56,328,691          0             0
std      64    64   63     63  29,699,070          1             0
min     164   166  161    165  13,991,203          0             0
25%     222   227  219    222  35,934,538          0             0
50%     252   258  246    251  48,510,435          0             0
75%     272   284  266    274  65,869,448          0             0
max     408   443  402    407 225,938,484          8             0

In [15]:
pd.set_option('display.float_format', '{:,.0f}'.format)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2004-02-02 00:00:00+00:00,160,160,157,158,51856152,0,0
2004-02-03 00:00:00+00:00,159,159,155,157,56627690,0,0
2004-02-04 00:00:00+00:00,158,159,156,158,87393935,0,0
2004-02-05 00:00:00+00:00,158,159,156,156,45889680,0,0
2004-02-06 00:00:00+00:00,157,157,154,156,52957551,0,0
...,...,...,...,...,...,...,...
2024-01-29 00:00:00+00:00,470,472,465,466,41911027,0,0
2024-01-30 00:00:00+00:00,466,471,465,469,37940033,0,0
2024-01-31 00:00:00+00:00,471,472,462,462,47790959,0,0
2024-02-01 00:00:00+00:00,466,470,464,466,61323779,0,0
2024-02-02 00:00:00+00:00,462,462,455,459,49932383,0,0

In [ ]:
hist['Volume'].plot(logy=True)

In [16]:
pd.set_option('display.float_format', '{:,.0f}'.format)
bp.cash_flow

,2022-12-31,2021-12-31,2020-12-31
Free Cash Flow,"28,863,000,000","12,725,000,000","-144,000,000"
Repurchase Of Capital Stock,"-9,996,000,000","-3,151,000,000","-776,000,000"
Repayment Of Debt,"-11,697,000,000","-16,804,000,000","-12,179,000,000"
Issuance Of Debt,"2,013,000,000","6,987,000,000","14,736,000,000"
Capital Expenditure,"-12,069,000,000","-10,887,000,000","-12,306,000,000"
End Cash Position,"29,195,000,000","30,681,000,000","31,111,000,000"
Beginning Cash Position,"30,681,000,000","31,111,000,000","22,472,000,000"
Effect Of Exchange Rate Changes,"-684,000,000","-269,000,000","379,000,000"
Changes In Cash,"-802,000,000","-161,000,000","8,260,000,000"
Financing Cash Flow,"-28,021,000,000","-18,079,000,000","3,956,000,000"
Net Other Financing Charges,"-336,000,000","509,000,000","12,429,000,000"
Cash Dividends Paid,"-4,358,000,000","-4,304,000,000","-6,340,000,000"
Common Stock Dividend Paid,"-4,358,000,000","-4,304,000,000","-6,340,000,000"
Net Common Stock Issuance,"-9,996,000,000","-3,151,000,000","-776,000,000"
Common Stock Payments,"-9,996,000,000","-3,151,000,000","-776,000,000"
Net Issuance Payments Of Debt,"-11,076,000,000","-8,740,000,000","1,323,000,000"
Net Short Term Debt Issuance,"-1,392,000,000","1,077,000,000","-1,234,000,000"
Net Long Term Debt Issuance,"-9,684,000,000","-9,817,000,000","2,557,000,000"
Long Term Debt Payments,"-11,697,000,000","-16,804,000,000","-12,179,000,000"
Long Term Debt Issuance,"2,013,000,000","6,987,000,000","14,736,000,000"
Investing Cash Flow,"-13,713,000,000","-5,694,000,000","-7,858,000,000"
Net Business Purchase And Sale,"-2,420,000,000","3,851,000,000","3,240,000,000"
Sale Of Business,"1,841,000,000","5,812,000,000","4,989,000,000"
Purchase Of Business,"-4,261,000,000","-1,961,000,000","-1,749,000,000"
Net PPE Purchase And Sale,"709,000,000","1,145,000,000","491,000,000"
Sale Of PPE,"709,000,000","1,145,000,000","491,000,000"
Purchase Of PPE,NaN,"-10,887,000,000","-12,306,000,000"
Capital Expenditure Reported,"-12,069,000,000","-10,887,000,000","-12,306,000,000"
Operating Cash Flow,"40,932,000,000","23,612,000,000","12,162,000,000"
Taxes Refund Paid,"-10,106,000,000","-4,179,000,000","-2,438,000,000"
Interest Received Cfo,"414,000,000","320,000,000","74,000,000"
Interest Paid Cfo,"-2,208,000,000","-2,474,000,000","-2,728,000,000"
Dividend Received Cfo,"1,700,000,000","1,842,000,000","1,442,000,000"
Change In Working Capital,"-6,270,000,000","-626,000,000","-85,000,000"
Change In Other Current Liabilities,"17,806,000,000","20,095,000,000","-8,278,000,000"
Change In Other Current Assets,"-18,584,000,000","-13,263,000,000","4,230,000,000"
Change In Inventory,"-5,492,000,000","-7,458,000,000","3,963,000,000"
Other Non Cash Items,"2,216,000,000","2,477,000,000","2,857,000,000"
Stock Based Compensation,"795,000,000","627,000,000","723,000,000"
Provisionand Write Offof Assets,"440,000,000","2,934,000,000","735,000,000"
Depreciation And Amortization,"14,318,000,000","14,805,000,000","14,889,000,000"
Depreciation,"14,318,000,000","14,805,000,000","14,889,000,000"
Pension And Employee Benefit Expense,"-69,000,000","-2,000,000","33,000,000"
Gain Loss On Investment Securities,"43,000,000","145,000,000",NaN
Net Income From Continuing Operations,"15,405,000,000","15,227,000,000","-24,888,000,000"

In [22]:
bp.financials

,2022-12-31,2021-12-31,2020-12-31
Tax Effect Of Unusual Items,"-5,137,790,000","537,700,000","-3,642,590,000"
Tax Rate For Calcs,0,0,0
Normalized EBITDA,"59,424,000,000","29,914,000,000","14,543,000,000"
Total Unusual Items,"-27,041,000,000","2,830,000,000","-21,427,000,000"
Total Unusual Items Excluding Goodwill,"-27,041,000,000","2,830,000,000","-21,427,000,000"
Net Income From Continuing Operation Net Minority Interest,"-2,487,000,000","7,565,000,000","-20,305,000,000"
Reconciled Depreciation,"14,318,000,000","14,805,000,000","14,889,000,000"
Reconciled Cost Of Revenue,"186,296,000,000","134,879,000,000","95,760,000,000"
EBITDA,"32,383,000,000","32,744,000,000","-6,884,000,000"
EBIT,"18,065,000,000","17,939,000,000","-21,773,000,000"
Net Interest Income,"-1,531,000,000","-2,274,000,000","-2,485,000,000"
Interest Expense,"2,660,000,000","2,712,000,000","3,115,000,000"
Interest Income,"430,000,000","226,000,000","240,000,000"
Normalized Income,"19,416,210,000","5,272,700,000","-2,520,590,000"
Net Income From Continuing And Discontinued Operation,"-2,487,000,000","7,565,000,000","-20,305,000,000"
Total Expenses,"199,945,000,000","147,067,000,000","106,517,000,000"
Diluted Average Shares,"18,987,936,000","20,260,388,000","20,221,514,000"
Basic Average Shares,"18,987,936,000","20,128,862,000","20,221,514,000"
Diluted EPS,-0,0,-1
Basic EPS,-0,0,-1
Diluted NI Availto Com Stockholders,"-2,488,000,000","7,563,000,000","-20,306,000,000"
Net Income Common Stockholders,"-2,488,000,000","7,563,000,000","-20,306,000,000"
Otherunder Preferred Stock Dividend,0,0,0
Preferred Stock Dividends,"1,000,000","2,000,000","1,000,000"
Net Income,"-2,487,000,000","7,565,000,000","-20,305,000,000"
Minority Interests,"-1,130,000,000","-922,000,000","424,000,000"
Net Income Including Noncontrolling Interests,"-1,357,000,000","8,487,000,000","-20,729,000,000"
Net Income Continuous Operations,"-1,357,000,000","8,487,000,000","-20,729,000,000"
Tax Provision,"16,762,000,000","6,740,000,000","-4,159,000,000"
Pretax Income,"15,405,000,000","15,227,000,000","-24,888,000,000"
Special Income Charges,"-27,041,000,000","2,830,000,000","-21,427,000,000"
Other Special Charges,"8,315,000,000","-1,646,000,000","-2,193,000,000"
Impairment Of Capital Assets,"18,726,000,000","-1,184,000,000","23,620,000,000"
Net Non Operating Interest Income Expense,"-1,531,000,000","-2,274,000,000","-2,485,000,000"
Total Other Finance Cost,"-699,000,000","-212,000,000","-390,000,000"
Interest Expense Non Operating,"2,660,000,000","2,712,000,000","3,115,000,000"
Interest Income Non Operating,"430,000,000","226,000,000","240,000,000"
Operating Income,"41,447,000,000","10,672,000,000","-573,000,000"
Operating Expense,"13,649,000,000","12,188,000,000","10,757,000,000"
Other Operating Expenses,"200,000,000","257,000,000","360,000,000"
Selling General And Administration,"13,449,000,000","11,931,000,000","10,397,000,000"
Selling And Marketing Expense,NaN,"11,931,000,000","10,397,000,000"
General And Administrative Expense,"13,449,000,000","11,931,000,000","10,397,000,000"
Gross Profit,"55,096,000,000","22,860,000,000","10,184,000,000"
Cost Of Revenue,"186,296,000,000","134,879,000,000","95,760,000,000"
Total Revenue,"241,392,000,000","157,739,000,000","105,944,000,000"
Operating Revenue,"241,392,000,000","157,739,000,000","105,944,000,000"